*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*menu*/
nav{
    height: 60px;
    display: flex;
}
#nav-left{
    width: 20%;
    padding-left: 20px;
    padding-top: 15px;
}
#nav-left > a{
    padding-right: 20px;
    text-decoration: none;
    color: #000;
}
#nav-right{
    width:80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}
.link-icon{
    padding-top: 9px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link-icon > li a{
    padding-right: 20px;
    text-decoration: none;
    color: #000;
}
.link-icon > li i{
    font-size: 20px;
    padding-top: 5px;
    opacity: 0.55;
}
.link-icon > li button{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-left: 20px;
    margin-right: 15px;
    border: 1px solid #4285f4;
    font-weight: bold;
    color: white;
    background-color: #4285f4;
}
.dropdown{
    display: none;
}
/*main*/
main{
    height: calc(100vh - 145px);
}
.logo{
    text-align: center;
}
.logo > img{
    width:270px;
    padding-top: 140px;
}
.bar-icon{
    width: 600px;
    height: 42px;
    border: 2px solid #dfe1e5;
    margin: auto;
    margin-top: 20px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.fa-microphone{
    padding-right: 20px;
    font-size: 17px;
}
.fa-search{
    font-size: 15px;
    color: #9AA0A6;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.first, .second{
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-top: 13px;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
}
/*footer*/
#footer-top{
    width: 100%;
    height: 45px;
    border: 1px solid #e4e4e4;

}
#footer-top > p{
    color: rgba(0,0,0,.54);
    font-size: 16px;
    line-height: 44px;
    padding-left: 24px;
}
#footer-bottom{
    width: 100%;
    height: 40px;
    display: flex;
}
.bottom-left{
    width: 50%;
    height: 100%;
}
.bottom-right{
    width: 50%;
    height: 100%;
}
.link-left{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding-top: 12px;
    padding-left: 4px;
}
.link-left > li a{
    text-decoration: none;
    padding-left: 20px;
    padding-top: 20px;
    color: #5f6368;
}
.link-right{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-left: 4px;
}
.link-right > li a{
    text-decoration: none;
    padding-left: 20px;
    padding-top: 20px;
    color: #5f6368;
    padding-right: 22px;
}
